workflows/sub-verificar-usuario.json
{
  "name": "Sub: Verificar o Registrar Usuario",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            { "name": "phone_number" },
            { "name": "nombre" },
            { "name": "apellido" }
          ]
        }
      },
      "id": "2474ae9b-4e9c-4673-8e68-fbe71071047b",
      "name": "Execute Sub-workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [-1408, 112]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT (COUNT(*) > 0)::boolean AS existe, MAX(nombre) AS nombre, MAX(apellido) AS apellido FROM usuarios WHERE phone_number = '{{ $json.phone_number }}'",
        "options": {}
      },
      "id": "b5314bb1-a840-4632-96cb-5fa55446e97d",
      "name": "Postgres: Buscar Usuario",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [-1200, 112],
      "credentials": {
        "postgres": {
          "id": "PLACEHOLDER",
          "name": "Postgres - Personal Assistant"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-001",
              "leftValue": "={{ $json.existe }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "50dfb8fe-975f-40bc-a93c-49c8970e02ff",
      "name": "IF: Usuario existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-976, 112]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-001",
              "name": "output",
              "value": "=Usuario verificado. Nombre: {{ $json.nombre }} {{ $json.apellido }}. El usuario ya está registrado y puede operar.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "719dad8b-4090-4a34-be83-07156294d9a6",
      "name": "Set: Usuario Encontrado",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [-752, -32]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-flag-001",
              "name": "datos_provistos",
              "value": "={{ $('Execute Sub-workflow Trigger').item.json.nombre != null && $('Execute Sub-workflow Trigger').item.json.nombre != '' && $('Execute Sub-workflow Trigger').item.json.apellido != null && $('Execute Sub-workflow Trigger').item.json.apellido != '' }}",
              "type": "boolean"
            }
          ]
        },
        "options": { "includeOtherFields": true }
      },
      "id": "set-flag-0001-0001-0001-000000000001",
      "name": "Set: Computar Flag",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [-864, 340]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-002",
              "leftValue": "={{ $json.datos_provistos }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "34510e17-095c-4be5-ae35-9057af6231c7",
      "name": "IF: Datos provistos?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-640, 340]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO usuarios (phone_number, nombre, apellido) VALUES ('{{ $('Execute Sub-workflow Trigger').item.json.phone_number }}', '{{ $('Execute Sub-workflow Trigger').item.json.nombre }}', '{{ $('Execute Sub-workflow Trigger').item.json.apellido }}') RETURNING id, nombre, apellido",
        "options": {}
      },
      "id": "89f1604a-dd66-4bc1-8fab-3a9858f89f8e",
      "name": "Postgres: Registrar Usuario",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [-416, 256],
      "credentials": {
        "postgres": {
          "id": "PLACEHOLDER",
          "name": "Postgres - Personal Assistant"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-002",
              "name": "output",
              "value": "=Usuario registrado correctamente. Nombre: {{ $json.nombre }} {{ $json.apellido }}. Ya puede registrar gastos.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "98d12255-ff70-49ab-a36b-bba0235609cb",
      "name": "Set: Usuario Registrado",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [-208, 256]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-003",
              "name": "output",
              "value": "Usuario no encontrado en la base de datos. Solicitá al usuario su nombre y apellido para poder registrarlo.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "43f54352-1a5a-4e4d-bf93-6aa0bcfb47e9",
      "name": "Set: Solicitar Datos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [-416, 432]
    }
  ],
  "connections": {
    "Execute Sub-workflow Trigger": {
      "main": [[{ "node": "Postgres: Buscar Usuario", "type": "main", "index": 0 }]]
    },
    "Postgres: Buscar Usuario": {
      "main": [[{ "node": "IF: Usuario existe?", "type": "main", "index": 0 }]]
    },
    "IF: Usuario existe?": {
      "main": [
        [{ "node": "Set: Usuario Encontrado", "type": "main", "index": 0 }],
        [{ "node": "Set: Computar Flag", "type": "main", "index": 0 }]
      ]
    },
    "Set: Computar Flag": {
      "main": [[{ "node": "IF: Datos provistos?", "type": "main", "index": 0 }]]
    },
    "IF: Datos provistos?": {
      "main": [
        [{ "node": "Postgres: Registrar Usuario", "type": "main", "index": 0 }],
        [{ "node": "Set: Solicitar Datos", "type": "main", "index": 0 }]
      ]
    },
    "Postgres: Registrar Usuario": {
      "main": [[{ "node": "Set: Usuario Registrado", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "pinData": {}
}
