workflows/sub-registrar-gasto.json
{
  "name": "Sub: Registrar Gasto",
  "nodes": [
    {
      "parameters": {
        "inputSchema": {
          "fields": {
            "values": [
              {
                "id": "field-001",
                "fieldName": "phone_number",
                "fieldType": "string"
              },
              {
                "id": "field-002",
                "fieldName": "monto",
                "fieldType": "number"
              },
              {
                "id": "field-003",
                "fieldName": "categoria",
                "fieldType": "string"
              },
              {
                "id": "field-004",
                "fieldName": "descripcion",
                "fieldType": "string"
              }
            ]
          }
        }
      },
      "id": "sub2-0001-0001-0001-000000000001",
      "name": "Execute Sub-workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO gastos (phone_number, monto, categoria, descripcion) VALUES ('{{ $json.phone_number }}', {{ $json.monto }}, '{{ $json.categoria }}', NULLIF(NULLIF('{{ $json.descripcion }}', ''), 'null')) RETURNING id",
        "additionalFields": {}
      },
      "id": "sub2-0002-0002-0002-000000000002",
      "name": "Postgres: Insertar Gasto",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [220, 300],
      "credentials": {
        "postgres": {
          "id": "PLACEHOLDER",
          "name": "Postgres - Personal Assistant"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-001",
              "name": "output",
              "value": "=Gasto registrado correctamente con ID #{{ $json.id }}. Monto: ${{ $('Execute Sub-workflow Trigger').item.json.monto }}, Categoría: {{ $('Execute Sub-workflow Trigger').item.json.categoria }}{{ $('Execute Sub-workflow Trigger').item.json.descripcion && $('Execute Sub-workflow Trigger').item.json.descripcion !== 'null' ? ', Descripción: ' + $('Execute Sub-workflow Trigger').item.json.descripcion : '' }}.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "sub2-0003-0003-0003-000000000003",
      "name": "Set: Gasto Registrado",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [440, 300]
    }
  ],
  "connections": {
    "Execute Sub-workflow Trigger": {
      "main": [
        [{ "node": "Postgres: Insertar Gasto", "type": "main", "index": 0 }]
      ]
    },
    "Postgres: Insertar Gasto": {
      "main": [
        [{ "node": "Set: Gasto Registrado", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {}
}
